body{
    color: #fff;
    line-height: 1.5;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    background:linear-gradient(0deg, rgba(1, 28, 51, 0.95), rgba(1, 54, 100, 0.91)), url(../img/background-geral.jpg) no-repeat center center;
    background-size: cover;
}
input, label {
    display:block;
}


.form-group{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: flex-start;
    align-items: center;
}

.each-label{
    display:flex;
    justify-content:space-around;
    flex-direction: column;
}
input, select{
width: 200px;
padding: 15px 10px 12px 20px;
margin: 2px 30px 20px 0px;
border: 0;
border-radius: 3px;
background-color: rgb(233, 233, 233);
height:20px;

}

.submit {
    margin: 30px 0px 40px 0px;
    cursor: pointer;
    width: 400px;
    height: 50px;
    padding: 10px 5px 10px 5px;
    font-weight: 600;
    font-size: 22px;
    background: rgba(226, 0, 94, 0.8);
    color: white;
    transition: 0.2s;
}

.submit:hover {
    transition: 0.2s;
    animation: pulse 6s infinite;
    }

    @keyframes pulse {
        0% {
          background-color: rgb(226, 0, 94);
          color: white;
          width: 400px;
        height: 50px;
        }
        50% {
          background-color: rgb(245, 0, 0);
          width: 405px;
          height: 51px;
        }

        100% {
            background-color: rgb(226, 0, 94);
            width: 400px;
            height: 50px;
            color: white;
            }
      }

input:read-write{
    border:0;
    border-bottom: 1px solid rgb(0, 119, 216);
}
main{
    display: block;
    margin: 0 auto;
    max-width: 900px;
    width:70%;

}

main h1{
    text-align:center;
}
nav{
    display:flex;
    justify-content:space-around;
    align-items: center;
    height:8vh;
    margin: 0 auto;
    position:relative;
}

nav a{
    color: #fff;
    text-decoration: none;
    transition: 0.3s;
}

nav a:hover {
    color: rgba(226, 0, 94, 0.8);
    text-decoration: none;
    font-weight: 300;
}

.nav-list {
    list-style: none;
    display: flex;
}

.nav-list li{
    letter-spacing: 1px;
    margin-left: 30px;
}
.nav-logo{
    float:left;
    height: 90%;
    padding:5px;
    transition:0.2s;
}

.nav-logo:hover{
    opacity:0.8;
}

.regulamento {
    overflow:auto;
    font-family: Arial, Helvetica, sans-serif;
    font-size: small;
    text-align: justify;
    background-color:rgb(245, 245, 245);
    color:black;
    line-height:1.5;
    font-weight: 300;
    height: 500px;
    overflow-y: scroll;


}

@media (max-width: 600px) {
    body{
        font-size: 1.5em;
        background: url(../img/background-mobile.png), rgb(27, 27, 27);
    }

    nav {
    height: 16vh;
    }
    .nav-list {
        font-size:12px;
        text-align: center;
        top: 8vh;
        height:5vh;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        line-height:2;
    }

    .nav-list li {
        margin-left:0;
    }
}
