body{
    font-family: Arial, Helvetica, sans-serif;
    line-height: 110%;
}

.regulamento {
    font-family: Arial, Helvetica, sans-serif;
    font-size: small;
    max-width: 80%;
    text-align: justify;
}